*{
  /* color: rgb(242, 238, 242); */
}
#Education{
  height: 100dvh;
  width: 100%;
  background-color:  rgba(245, 245, 245, 0.921);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.heading{
 font-size: clamp(1.8rem, 4vw, 2rem);
}
#Education > h1 {
 
  margin: 0;
}
.university {
  height: 40vh;
  width: 70%;
  background-color: #f7f7f7b9;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  border-radius: 10px;
}
.u-img{
  height: 100%;
  width: 50%;
  position: relative;
  /* background-color: #b59292; */
}
 .u-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.u-info{
  /* width: 25%; */
  padding-left: 1vw;
}


.school {
  height: 40vh;
  width: 70%;
  background-color: #f7f7f7b9;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  border-radius: 10px;
}
.s-img{
  height: 100%;
  width: 50%;
  position: relative;
  /* background-color: #b59292; */
}
 .s-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.s-info{
  width: auto;
  padding-left: 1vw;
}




@media (max-width:600px) {
 




 

  #Education{
    padding-inline: 1rem;
    padding-block: 2rem;
    /* display: none; */
  }
  .heading{
    font-size: clamp(1.5rem, 4vw, 3rem);
  }

  .university{
    width: 80vw;
    display: flex;
    flex-direction: column;

  }
  .u-img{
    width: 100%;
  }
  .u-info{
    width: 100vw;
    height: 25vh;
    display: flex;
    padding-left: 10vw;
    /* text-align: center; */
    flex-direction: column;
    font-size: clamp(0.8rem, 2vw, 1rem);
    /* justify-content: flex-end; */
    /* background-color: #c40606; */
  }



  .school{
    width: 80vw;
    height: 40vh;
    /* height: auto; */
    display: flex;
    flex-direction: column;

  }
  .s-img{
    width: 100%;
    height: auto;
  }
  .s-info{
    width: 100vw;
    /* height: 25vh; */
    display: flex;
    text-align: ;
    padding-left: 10vw;
    flex-direction: column;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    /* justify-content: flex-end; */
    /* background-color: #c40606; */
  }
}

